@import url('https://fonts.cdnfonts.com/css/gunplay');
@import url('https://fonts.cdnfonts.com/css/minion-pro');

/* #SHEET SELECTOR */
  .div.sheet_selector {display: block;}

  .character_sheet, .command_roster_sheet {display:none;}
  .sheet_toggle[value="character_sheet"] ~ div.character_sheet {display:block;}
  .sheet_toggle[value="command_roster_sheet"] ~ div.command_roster_sheet{display:block;}

  .sheet_toggle[value="character_sheet"] ~ div.sheet_selector {display: none;}
  .sheet_toggle[value="command_roster_sheet"] ~ div.sheet_selector {display: none;}


/* #BASE FORMATTING */
  .charsheet {
    font-family: 'Gunplay';
    background-color: white;
  }

  .charsheet label {
    /* display: inline-block; */
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
  }

  .charsheet input {
    width: 100%;
    border-width: 0px;
    font-family: 'Minion Pro';
    font-size: 1em;
  }

/* START #CHECKBOX_REPLACE*/
  input[type="checkbox"] {
    opacity: 0;
    width: 16px;
    height: 16px; 
    position: relative;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
  }

  input[type="checkbox"] + span::before {
    margin-right: 1px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
  }

  input[type="checkbox"].yellow + span::before {
    margin-right: 1px;
    border: solid 2px orange;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
  }

  /* Fake checkbox */
  input[type="checkbox"] + span::before {
    position:relative;
    content: "";
    opacity: 1;
    width: 14px;
    height: 14px;
    font-size: 12px;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  input[type="checkbox"]:checked + span::before {
    content: "X";
    
    -moz-box-shadow: 0 0 2px transparent;
    -webkit-box-shadow: 0 0 2px transparent;
    box-shadow: 0 0 2px transparent;
  }
/* END #CHECKBOX_REPLACE*/

/*START #AUTOEXPAND section*/
  .auto-expand {
    position: relative;
    cursor: text;
    word-wrap: break-word;
  }
  .auto-expand span {
    visibility: hidden;
    white-space: pre-wrap;
    display: block;
  }
  .auto-expand textarea {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    resize: none;
          min-height:18px;
    height: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: transparent;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    padding: inherit;
    text-align: inherit;
    text-transform: inherit;
    font-family: 'Minion Pro';
    border: none;
  }
/*END #AUTOEXPAND section*/


  /* #FORMATTING */
    div.orange {
      background-color: #ff4400;
      text-transform: uppercase;
      justify-content: center;
    }

    .white-border-br {
      border-bottom: white solid 3px;
      border-right: white solid 3px;
    }
    .white-border-b {
      border-bottom: white solid 3px;
    }

    .black_border_bottom_top {
      border-bottom: black solid 3px;
      border-top: black solid 3px;
    }

    /* div.orange label {
        text-transform: uppercase;
        justify-content: center;
    } */

    div.center label {
      text-align: center;
      justify-content: center;
    }

    div.right label {
      text-align: right;
      justify-content: right;
    }

    div.gray {
        font-family: "minion pro";
        background-color: lightgray;
    }
    
      div.gray label {
          display: inline;
          font-family: "gunplay";
          font-size: smaller;
          text-transform: uppercase;
      }

      div.gray input {
          display: inline;
          width: 100%;
          border: none;
          background-color: transparent;
          text-align: left;
      }

      .big_orange_header {
        font-size: xx-large;
        text-transform: uppercase;
        justify-content: center;
        text-align: center;
        /* display: block; */
        color: #ff4400;
        border-bottom: 2px solid #ff4400; 

      }
/* #CHARACTERSHEET BLOCK*/
.battleblock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto  auto  auto auto auto;
  justify-content: center;
  grid-template-areas:
    "base"
    "char_info"
    "weapon_info"
    "abilities"
    "attributes"
    "stats";    }

  .base {
    grid-area: "base";
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr; }
  .char_info {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-area: "char_info"; }
  .weapon_info { 
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 1fr 1fr 3fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-area: "weapon_info"; }
  .abilities { grid-area: abilities; }
  .attributes {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-area: "attributes"; }
  .stats {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-area: "stats"; }

/* #COMMAND ROSTER GRID DEFINITION */
  .command_roster {
    display: grid;
    grid-template: auto auto auto / 1fr;
    grid-template-areas:
        "command_roster_header"
        "command_roster_info"
        "command_roster_details";
    row-gap: 25px; }
    /* font-family: "gunplay";   } */
  .command_roster_header { grid-area: "command_roster_header"; }

  .command_roster_info {
      display: grid;
      grid-area: "command_roster_info";
      grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 5fr 2fr 3fr 3fr 5fr;
  }
  /* #COMMAND_ROSTER_INFO_ROW 1 */
    .pname              {grid-column: 1; grid-row: 1 ;                              }
    .pname_input        {grid-column: 2; grid-row: 1;                               }
    .resources          {grid-column-start: 3; grid-column-end: span 2; grid-row: 1;}
    .kt_force           {grid-column: 5; grid-row: 1;                               }
    .kt_force_input     {grid-column: 6; grid-row: 1;                               }
  /* #COMMAND_ROSTER_INFO_ROW 2 */
    .faction            { grid-column: 1; grid-row: 2;                              }
    .faction_input      { grid-column: 2; grid-row: 2;                              }
    .intel              { grid-column: 3; grid-row: 2;                              }
    .intel_input        { grid-column: 4; grid-row: 2;                              }
    .kt_name_header     { grid-column: 5; grid-row-start: 2;grid-row-end: span 2;   }
    .kt_name_input      { grid-column: 6; grid-row-start: 2;grid-row-end: span 2;   }
  /* #COMMAND_ROSTER_INFO_ROW 3 */
    .mission            { grid-column: 1; grid-row: 3;                              }
    .mission_input      { grid-column: 2; grid-row: 3;                              }
    .materiel           { grid-column: 3; grid-row: 3;                              }
    .materiel_input     { grid-column: 4; grid-row: 3;                              }
  /* #COMMAND_ROSTER_INFO_ROW 4 */
    .background         { grid-column: 1; grid-row: 4;                              }
    .background_input   { grid-column: 2; grid-row: 4;                              }
    .morale             { grid-column: 3; grid-row: 4;                              }
    .morale_input       { grid-column: 4; grid-row: 4;                              }
  /* #COMMAND_ROSTER_INFO_ROW 5 */
    .quirk              { grid-column: 1; grid-row: 5;                              }
    .quirk_input        { grid-column: 2; grid-row: 5;                              }
    .territory          { grid-column: 3; grid-row: 5;                              }
    .territory_input    { grid-column: 4; grid-row: 5;                              }

  .command_roster_details {
    display: grid;
    grid-area: "command_roster_details";
    grid-template-columns: 4fr 4fr 4fr 1fr 4fr 3fr 1fr;
    grid-auto-rows: auto;
  }